a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_632d7c06 a { text-decoration: none; }
#menu_632d7c06_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_632d7c06_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_632d7c06_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_632d7c06_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_632d7c06_entry:hover span { color:#FFFFFF !important; }
		.menu_632d7c06_mainMenuEntry { text-align: center; }
		.menu_632d7c06_mainMenuEntry:hover {	background-color:#D4213A; }
		.menu_632d7c06_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_632d7c06 .mobileEntry { display: none; } 
		#menu_632d7c06 .normalEntry { display: block; } 
		#menu_632d7c06_menualignmentwrapper{ width:353px; left: calc(100% - 353px);  } 
		@media only screen and (max-width:650px) { 
			#menu_632d7c06 .mobileEntry { display: block; } 
			#menu_632d7c06 .normalEntry { display: none; } 
			#menu_632d7c06_menualignmentwrapper { width:36px; left: calc(100% - 36px);  } 
		}
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_78abf229 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_12299969 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#FFFFFF;  }
#container_12299969_padding { margin: 10px; display: block;  }
#container_7c6af539 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#container_7c6af539_padding { margin: 10px; display: block;  }
#button_19e12fcd { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:0px 0px 0px 20px;height:40px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
#img_1e24092a { position:absolute; left:0%; top:2%; width:10%; background:none; height:auto;  }
#container_78250f0d { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_78250f0d_padding { margin: 10px; display: block;  }
.textstyle3 { text-align:right; }
#menu_632d7c06 { vertical-align: bottom; position:relative; display: inline-block; width:418px; height:38px; text-align:left; background:none;  }
#menu_632d7c06_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:36px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle4 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:77px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle5 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#D4213A; font-weight:bold;  white-space: nowrap; }
.textstyle6 { font-size:10pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#D4213A; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:129px; height:38px; left:77px;  }
.menustyle4 { position:absolute; width:94px; height:38px; left:206px;  }
.menustyle5 { position:absolute; width:53px; height:38px; left:300px;  }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565; font-weight:bold;  white-space: nowrap; }
#img_59cea90f { position:absolute; left:47%; top:23%; width:3%; background:none; height:auto;  }
#container_e37b403 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_e37b403_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
#container_31fc9f08 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_31fc9f08_padding { margin: 10px; display: block;  }
#container_f2ae41b { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:10px; width:97%; min-height:197px; background-color:#FFFFFF;  }
#container_f2ae41b_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#374459; font-weight:bold;  }
.textstyle10 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#374459; font-weight:bold;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_1669005b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_1669005b_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_56fc7028 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_56fc7028_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; line-height: 1.5;  }
.textstyle14 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; font-weight:bold; line-height: 1.5;  }
.textstyle15 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#9E9E9E;  }
#anchor_3e8d9aab { vertical-align: bottom; position:relative; display: inline-block;  }
@media only screen and (max-width: 650px)
{
		#menu_632d7c06 { width:150px;  }
}
@media only screen and (max-width: 640px)
{
		#button_19e12fcd * span { font-size:12pt;  }
}
@media only screen and (max-width: 600px)
{
		#container_f2ae41b { width:100%;  }
}
